<div id="cooking-control-panel">
  <% if in_progress_cooking_record %>
    <p class="mt-6 mx-10 text-lg leading-8 text-gray-600">
      <%= "ðŸ”¥" * 30 %><br>
      æ­£åœ¨çƒ¹é¥ªä¸­<br>
      å¼€å§‹æ—¶é—´ï¼š<%= time_tag in_progress_cooking_record.created_at, "data-local": "time-ago" %>
    </p>
  <% end %>
  <div class="mt-10 flex items-center justify-center gap-x-6">
    <% if in_progress_cooking_record %>
      <div class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <%= button_to "ç»“æŸçƒ¹é¥ª", finish_cooking_record_path(in_progress_cooking_record), method: :patch %>
      </div>
    <% else %>
      <div class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <%= button_to "å¼€å§‹çƒ¹é¥ª", cooking_records_path, method: :post %>
      </div>
    <% end %>
    <!--          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">-->
    <!--            Learn more <span aria-hidden="true">â†’</span>-->
    <!--          </a>-->
  </div>
</div>
