<div id="total-of-today" class="mt-6 flex flex-wrap md:flex-nowrap gap-x-14 gap-y-4 justify-center text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
  <div>
    🥚鸡蛋 <%= data[:egg] %> 个
  </div>
  <div>
    🌽玉米 <%= data[:corn] %> 根
  </div>
  <div>
    🍠红薯 <%= data[:sweet_potato] %> 份
  </div>
</div>
